.form {
  display: flex;
  grid-gap: 18px;
  align-items: center;
}

.input {
  padding: 0 12px;
  border: 1px solid grey;
  border-radius: 4px;
  min-height: 42px;
  width: 230px;
}

.button {
  min-width: 120px;
  height: 42px;
  color: black;
  background-color: #dce7f7;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #cedffa;
}

.button:hover {
  background-color: #cedffa;
}
